html,
body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

#__next,
.ant-layout {
  height: 100%;
}

.logo {
  height: 100px;
}

.input__select-addon {
  width: 70px !important;
}

.ant-list-item:hover {
  background: rgba(60, 90, 100, 0.04);
}
